body {
    text-align: left;
}

.cell {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.cell:hover {
    background: #F0F;
}

.game {
    display: flex;
    flex-direction: column;

}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}
